<!-- Spinner -->
<app-loader-spinner>
  Buscando los mejores productos...
</app-loader-spinner>

<!-- Items serach -->
<section *ngIf="items && items.length > 0 && !dontPreLoad">
  <h2 class="hide-title">
    Mercado Libre - Resultados de búsqueda!
  </h2>

  <!-- Items categories-->
  <app-item-categories 
    [categories]="categories">
  </app-item-categories>

  <!-- Items resutls -->
  <ul class="sub-container item-list-container item-group-content">
    <li *ngFor="let item of items; trackBy: trackById" class="item-container">
      <a [routerLink]="['/items', item.id]" fxLayout="row" class="item-link">
        <!-- Item photo -->
        <div fxFlex="180px" class="item-img">
          <img src="{{ item.picture }}" alt="{{ item.title }}">
        </div>
        <!-- Item detail -->
        <div fxFlex class="item-detail">
          <div class="item-price-and-location">
            <div class="item-price">
              $ {{ item.price.amount | number : '1.2-2' }}
              <img *ngIf="item.free_shipping" src="assets/images/ic_shipping.png" alt="Envío gratis">
            </div>
            <div class="item-location">
              {{ item.city_name }}
            </div>
          </div>
          <div class="item-title">
            {{ item.title }}
          </div>
          <div class="item-quantity">
            {{ 
              (item.available_quantity == 1) 
              ? 'Complemento único!' 
              : ((item.available_quantity > 1) ? item.available_quantity + ' en stock!' : 'Sin stock!')
            }}
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>

<app-handle-errors *ngIf="!items && !dontPreLoad">
  <h2 class="header-title">
    No hay publicaciones que coincidan con tu búsqueda.
  </h2>
  <ul class="tips-list">
    <li>Revisá la ortografía de la palabra.</li>
    <li>Utilizá palabras más genéricas o menos palabras.</li>
    <li>Navega por las categorías para encontrar un producto similar.</li>
  </ul>
</app-handle-errors>
