<!-- Spinner -->
<app-loader-spinner 
  *ngIf="loading"
  [title]="'Buscando la descripción a tu próximo producto...'"
  >
</app-loader-spinner>

<!-- Item categories -->
<app-item-categories [categories]="itemCategories"></app-item-categories>

<!-- Title -->
<h2 class="hide-title">Mercado Libre - Detalle de producto!</h2>

<!-- Item detail -->
<article *ngIf="item && itemDescription !loading" class="item-detail-container">
  <div class="item-container" fxLayout="row">
    <div fxFlex="70%" class="item-img">
      <img *ngIf="item.pictures?.length > 0" src="{{ item.pictures[0].url }}" alt="{{ item.title }}">
      <img *ngIf="item.pictures?.length == 0" src="assets/images/none_img.jpg" alt="{{ item.title }}">
    </div>
    <div fxFlex class="item-detail">
      <div class="item-sold-and-condition">
        {{ (item.condition == 'new') ? 'Nuevo' : 'Usado' }} - 
        {{ (item.sold_quantity > 0) ? item.sold_quantity + ' Vendidos' : 'Sin ventas' }}
      </div>
      <h1 class="item-title">{{ item.title }}</h1>
      <p class="item-price">$ {{ item.price | number : '1.2-2' }}</p>
      <a mat-button href="{{ item.permalink }}" target="_blank" class="btn-sell">
        Comprar
      </a>
    </div>
  </div>
  <div class="item-description">
    <h3>Descripción del producto</h3>
    <p>{{ itemDescription }}</p>
  </div>
</article>
  
<app-handle-errors *ngIf="!item && !loading">
  <h3 class="header-title"> 
    Producto no encontrado.
  </h3>
  <ul class="tips-list">
    <li>Revisá la url ingresada.</li>
    <li>Intenta buscar el producto nuevamenente.</li>
    <li>Asegurate de que el producto no se encuentre eliminado.</li>
  </ul>
</app-handle-errors>