@import '../../../../assets/styles/variables';

:host {

  .item-container {
    background-color: #fff;
    padding: 32px;

    .item-detail {

      .item-img img {
        max-width: 100%;
      }

      .item-information-sale {
        padding-left: 16px;

        @media (min-width: 768px) {
          padding-left: 10px;
        }
      }

      .item-sold-and-condition {
        font-size: 14px;
        margin-bottom: 16px;
      }

      .item-title {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 32px;

        @media (min-width: 768px) {
          font-size: 24px;
        }
      }

      .item-price {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 32px;

        @media (min-width: 768px) {
          font-size: 46px;
        }
      }

      .btn-sell {
        background-color: $color_blue;
        color: #fff;    
        width: 100%;
        padding: 7px 0;
        max-width: 250px;
      }
    }

    .item-description {

      h3,
      p {
        font-weight: 400;
      }

      h3 {
        font-size: 22px;
        margin-bottom: 22px;

        @media (min-width: 768px) {
          font-size: 28px;
          margin-bottom: 32px;
        }
      }

      p {
        font-size: 14px;

        @media (min-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}