@import '../../../assets/styles/variables';

:host {

  .header-toolbar-container {
    background-color: $color_yellow;
    align-items: center;
    
    .header-container {
      margin: 0 auto !important;
      padding: 0;

      @media (max-width: 1200px) {
        padding: 0 15px;
      }
  
      .nav-logo {
        overflow: hidden;
        text-indent: -9999px;
        width: 60px;
        height: 40px;
        background: $color_yellow url('../../../assets/images/Logo_ML@2x.png') center center no-repeat;
        background-size: 56px;
        margin-right: 10px;
      }
    }
  }
}