@import './variables.scss';

// General
// ---------------------------------------------------------------- //
body {
  margin: 0;
  background-color: $color_grey;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

// Container and SEO friendly
// ---------------------------------------------------------------- //
.hide-title {
  display: none;
}

.container {
  max-width: 1080px;
  justify-content: center !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 4px;
  margin: 0 auto;
}

.fix-padding-container {
  padding: 0 15px;
}